* {
  background-color: #8E2E2E;
  color: #F9F6ED;
}

body {
  background-color: #8E2E2E;
  padding: 1rem;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #F9F6ED;
  background-color: #568FA0;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform .2s;
}

button:hover {
  background-color: #6599A8;
}

button:active {
  background-color: #4F8292;
  transform: scale(0.95);
  box-shadow: none;
}

hr {
  border-top: 1px solid #F9F6ED;
}

td {
  padding: 5px;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #F9F6ED;
  border-color: #568FA0;
  background-color: #568FA0;
}